<% if !logged_in? %>
  <a href="/users/new">create account</a>
  <a href="/session/new">login</a>
<% end %>

<% if logged_in? %>
<a href="/plants/new">post plant</a>
<a href="/my_plants">my plants</a>
<% end %>  

<% @plants.each do |plant| %>
  <p>
    <a href="/plants/<%=plant.id%>"> 
       <img src=" <%= plant.image_url %> ">
    </a>
  </p>  
<% end %>


