<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plantbook</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>  
    <nav>
      <div class="title">
        <h1><a href="/">plantbook</a></h1>
      </div>
      <div class="links"> 
        <% if !logged_in? %>
          <a href="/users/new">join</a>
          <a href="/session/new">login</a>
        <% end %>

        <% if logged_in? %>
          <a href="/plants/new">add plant</a>
          <a href="/my_plants">my plants</a>
      
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="fake_link">logout</button>
          </form>
        <% end %>
      </div>   
    </nav>

    
  <%= yield %>


</body>
</html>

