<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plantbook</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
  
  <h1>plantbook</h1>

  <% if logged_in? %> 
    <p>logged in as <%= current_user.email %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  <% end %>

  <main class="layout_erb">
    <%= yield %>
  </main>
  

</body>
</html>

