<div class="top_new">
  <form action="/session" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
     <button class="no_button">login</button>
  </form>
</div>
 
<div class="all_images">
  <% @plants.each do |plant| %>
      <a href="/plants/<%=plant.id%>"> 
         <img src=" <%= plant.image_url %> ">
      </a>
  <% end %>  
</div>  